<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/boxicons/css/boxicons.css">
    <link rel="stylesheet" href="/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="/bootstrap/css/navbar.css">   
    <link rel="stylesheet" href="/bootstrap/css/menu_principal.css">
    <link rel="stylesheet" href="/bootstrap/css/navbar_proyectos.css">
    <link rel="stylesheet" href="/DataTables/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="/toastr/css/toastr.min.css">
    <link rel="shortcut icon" href="/icons/icono.png" type="image/x-icon">
    <title><%= tituloweb %></title>
</head>
<body>