<nav class="navbar navbar-dark bg-dark" aria-label="Dark offcanvas navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/menu">Maquinados Industriales CIB</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel"><img src="/icons/icono.png" alt="icono usuario" class="imgUsuario"> <%= usuario %> </h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body text-center">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            
            <li class="nav-item dropdown text-decoration-none">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Configuraci&oacute;n
                  </a>
              <ul class="dropdown-menu ">
                <li><a class="dropdown-item" href="#"><b>Cerrar Sesi&oacute;n</b></a></li>
              </ul>
            </li>
          </ul>
          
        </div>
      </div>
    </div>
  </nav>